{
	title = "ReplayKit Everywhere";
	items = (
		{
			cell = "PSGroupCell";
			footerText = NOTICE_TEXT;
		},
		{
			cell = "PSGroupCell";
			label = "Set a gesture";
		},
		{
			cell = "PSLinkCell";
			label = "Activation Methods";
			isController = 1;
			bundle = "LibActivator";
			activatorListener = "com.estertion.replaykiteverywhere";
		},
		{
			cell = "PSGroupCell";
			footerText = ENABLE_MICROPHONE_FOOT;
		},
		{
			cell = "PSSwitchCell";
			label = "Enable microphone commentary";
			defaults = "com.estertion.replaykiteverywhere";
			default = "1";
			key = "microphoneEnabled";
		},
		{
			cell = "PSGroupCell";
			label = "ReplayKit Settings";
			footerText = QUALITY_FOOT;
		},
		{
			cell = "PSLinkListCell";
			label = "Record quality";
			detail = "PSListItemsController";
			defaults = "com.estertion.replaykiteverywhere";
			default = "0";
			key = "quality";
			staticTextMessage = QUALITY_DESCRPITION;
			validValues = (
				0,
				1,
				2,
				3
			);
			validTitles = (
				"Space saver",
				"Balanced size",
				"Focus on quality",
				"Xtreme detailed"
			);
		},
		{
			cell = "PSGroupCell";
			label = "Temporary files info";
			footerText = TEMPORARY_FILE_DESCRIPTION;
		},
		{
			cell = "PSTitleValueCell";
			label = "Total size";
			get = "getTempFileSize";
			id = "totalSize";
		},
		{
			cell = "PSButtonCell";
			label = "Delete all";
			action = "deleteTempFiles";
		},
		{
			cell = "PSButtonCell";
			label = "Open directory (iFile)";
			action = "openTempByIFile";
		},
		{
			cell = "PSGroupCell";
			footerText = TWEAK_ABOUT;
		},
		{
			cell = "PSGroupCell";
			footerText = "© 2018 esterTion";
		}
	);
}
