Package: com.estertion.replaykiteverywhere
Name: ReplayKit Everywhere
Depends: mobilesubstrate, libactivator, firmware (>= 9.0), firmware (<< 11.0), cy+cpu.arm64, com.rpetrich.rocketbootstrap (>= 1.0.2), preferenceloader
Version: 1.6.2
Architecture: iphoneos-arm
Description: Record app screen, everywhere, with the convenience of ReplayKit
Maintainer: esterTion <esterTionCN@gmail.com>
Author: esterTion <esterTionCN@gmail.com>
Section: Tweaks
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=replaykiteverywhereDp
Icon: file:///Library/PreferenceBundles/ReplayKitEverywherePrefs.bundle/Icon@3x.png
